@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
html{
    scroll-behavior: smooth;
}
:root{
    --cream: #F7ECE1;
    --blue: #0454FF;
    --secondary-blue: #0039B2;
    --green: #00FA9A;
    --red: #FF1E56;
    --gradient: radial-gradient(circle, rgb(4, 84, 255) 0%, rgba(106,3,216,1) 60%);
}
body{
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: "Rubik";
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: rgba(30, 30, 30, 0.5);
}
::-webkit-scrollbar-thumb{
    background-color: var(--blue);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--secondary-blue);
}
header{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    font-family: "Montserrat";
    box-sizing: border-box;
}
nav{
    display: flex;
    color: var(--cream);
    height: 75px;
    align-items: center;
    animation: reveal-top 750ms ease;
}
.logo{
    margin: auto 0;
    margin-left: 50px;
    font-weight: 600;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
    margin-left: auto;
    margin-right: 50px;
    font-size: 1rem;
    font-weight: 400;
}
nav ul li{
    cursor: pointer;
    position: relative;
    height: 100%;
}
nav ul li:focus{
    border: white solid 2px;
}
nav ul li::before{
    content: "";
    background-color: var(--cream);
    position: absolute;
    height: 3px;
    width: 0;
    transform: translateY(-28px);
    top: 0;
    left: 0;
    transition: 200ms ease;
}
nav ul .active::before{
  width: 100%;
}
.active{
  font-weight: 600;
}
section{
  padding-bottom: 5vh;
}
.one{
  height: 110vh;
  display: grid;
}
.two{
  height: 220vh;
}
.three{
  height: 220vh;
}
.four{
  height: 110vh;
}
.five{
  height: 100vh;
  display: grid;
}
.gif{
  position: absolute;
  opacity: 0;
  background-image: url(images/resume.gif);
  background-size: contain;
  border: 15px solid var(--cream);
  width: 320px;
  height: 266px;
  transition: 100ms;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: 400ms;
  z-index: 2000;
}
.name:hover .gif{
  opacity: 1;
}
.title{
    margin: 25vh 0;
    max-width: 90%;
}
.one h1{
    font-size: clamp(2rem, 5vw, 3.5rem);
    margin: 0 auto;
    margin-left: clamp(10px, 4vw, 50px);
    color: var(--cream);
    overflow: hidden;
}
.one h1 span{
    display: inline-block;
    font-weight: 500;
    animation: reveal 1s ease;
}
.one h1 span span{
    color: var(--green);
}
p{
  font-size: clamp(1rem, 2vw, 1.7rem);
  margin: 0 auto;
  margin-left: clamp(10px, 4vw, 50px);
  font-family: "montserrat";
  color: var(--cream);
  overflow: hidden;
}
.one p span{
    display: inline-block;
    font-weight: 500;
    animation: reveal 1s ease;
}
.one p span span{
    color: var(--green);
}
.one img{
    position: absolute;
    width: 100%;
    height: 110vh;
    z-index: -1;
    opacity: 0.15;
    object-fit: cover;
}
.social{
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    padding-right: 2vh;
    padding-bottom: 2vh;
}
.social svg{
    fill: var(--cream);
    transition: 150ms ease;
}
.social a:hover svg{
    fill: var(--blue);
}
.social a{
    z-index: 1;
    margin: 1vh 0;
    height: 2.2vh;
    width: 2.2vh;
}
.scroll-title{
    display: flex;
    white-space: nowrap;
    overflow: hidden;
}
.two h1, .three h1, .four h1{
    display: flex;
    color: var(--cream);
    font-size: clamp(3rem, 5vw, 4rem);
    word-spacing: 4rem;
    animation: scrollText 10s infinite linear;
}
.two{
  overflow: hidden;
}
.two img{
    display: block;
    height: 28vh;
    width: 90%;
    margin: 2vh auto;
    object-fit: cover;
    transition: 500ms ease;
}
.two img:hover{
    transform: scale(1.1);
}
h3{
    font-size: clamp(3rem, 5vw, 4rem);
    margin: 0 auto;
    height: fit-content;
    margin-bottom: 5vh;
    margin-left: clamp(10px, 4vw, 50px);
    color: var(--cream);
    overflow: hidden;
}
h3 span span{
    color: var(--cream);
}
.four p{
    font-size: clamp(1rem, 2vw, 1.7rem);
    margin: 0 auto;
    margin-left: clamp(10px, 4vw, 50px);
    width: 90%;
    font-family: "montserrat";
    color: var(--cream);
    overflow: hidden;
}
.gallery{
    box-sizing: border-box;
    padding: 5px;
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 33vh;
    gap: 15px;
}
.gallery > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.dcol{
     grid-column: span 2;
 }
.tcol{
    grid-column: span 3;
}
.drow{
    grid-row: span 2;
}
.trow{
    grid-row: span 3;
}
.phone, .tablet, .tablet2{
     display: none;
 }
.four h3{
   height: fit-content;
 }
.four p{
   height: fit-content;
 }
.cta{
    height: 50vh;
    display: grid;
    margin: auto;
    width: 90%;
 }
 .cta h3{
    text-decoration: none;
    font-family: "Montserrat";
    font-weight: 500;
}
.cta h3 .art span{
    text-decoration: underline;
}
.cta h2{
    position: relative;
    font-size: clamp(3rem, 5vw, 6rem);
    margin: 0;
    margin-right: clamp(10px, 5vw, 100px);
    height: 100%;
    overflow: hidden;
    text-align: right;
    cursor: pointer;
 }
.cta a{
  color: var(--red);
  text-decoration: none;
  font-family: "Rubik";
  font-weight: 600;
 }
.cta h2 a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: var(--red);
    transition: 400ms ease;
 }
.cta h2 a:hover::after{
    width: 100%;
 }
 .art{
    display: inline-block;
    font-weight: 500;
    color: var(--cream);
}
.anim{
    opacity: 0;
}
 @media screen and (max-width: 1200px) {
    .gallery{
        grid-auto-rows: 25vh;
    }
 }
@media screen and (max-width: 1000px){
    .gallery{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: 25vh;
    }
    .pc, .phone, .tablet2{
        display: none;
    }
    .tablet{
        display: grid;
    }
}
@media screen and (max-width: 720px){
    .social a{
        height: 3vh;
        width: 3vh;
    }
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 25vh;
    }
    .pc, .tablet, .phone{
        display: none;
    }
    .tablet2{
        display: grid;
    }
}
@media screen and (max-width: 500px){
    .logo{
        display: none;
    }
    nav ul li{
    cursor: default;
}
    .gallery{
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 25vh;
        width: 95%;
    }
    .pc, .tablet, .tablet2{
        display: none;
    }
    .phone{
        display: grid;
    }
    .cta h2{
        text-align: center;
     }
}
@media screen and (max-width: 390px) {
    .artbtn{
        display: none;
    }
}
@keyframes reveal{
    from{
        transform: translateY(100%);
        opacity: 1;
    }to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes reveal-top{
    0%{
        transform: translateY(100%);
    }
    25%{
        transform: translateY(-100%);
    }100%{
        transform: translateY(0);
    }
}
@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-50%); }
  }